@use "../abstracts" as ab;

.asmosphere {
    margin-top: 160px;
    text-align: center;
    &__desc {
        @include ab.marginCenter;
        margin-top: 20px;
        width: 528px;
    }
    &__link {
        display: inline-block;
        margin-top: 30px;
        color: #5d3bee;
        font-size: 3.2rem;
        font-weight: 500;
        text-decoration-line: underline;
        &:hover {
            opacity: 0.7;
        }
    }
    &__row {
        margin-top: 70px;

        img {
            height: 529px;
            width: 100%;
        }
    }
}
