@use "../abstracts" as ab;

.clients {
    margin-top: 100px;
    &__row {
        column-gap: 105px;
        @include ab.responsive("tm") {
            text-align: center;
            flex-flow: column;
            row-gap: 40px;
            align-items: center;
        }
    }
    &__title {
        position: relative;
        margin-left: 102px;
        font-size: 4.2rem;
        font-weight: 600;
        opacity: 0.9;
        line-height: 1.2;
        width: 253px;
        @include ab.responsive("tm") {
            @include ab.marginCenter;
        }
        &::before {
            content: "";
            display: block;

            position: absolute;
            left: -102px;
            top: 25%;
            width: 86px;
            height: 2px;
            background: ab.$primary-color;
            @include ab.responsive("tm") {
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &__icons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 26px;
        column-gap: 36px;
        align-items: center;
        @include ab.responsive("m") {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__icon {
        transition: opacity 0.3s;

        a {
            @include ab.flexCenter($j: null);
            column-gap: 12px;
            color: ab.$text-primary-color;
            font-weight: 700;
        }

        &:hover {
            opacity: 0.7;
        }
    }
}
