@use "../abstracts" as ab;

.header {
    position: relative;
    z-index: 99;
    background: #fbfaff;
    padding-top: 58px;
    @include ab.responsive("tm") {
        padding-top: 40px;
    }
    .container {
        max-width: 1330px;
        @include ab.responsive("tm") {
            border-bottom: 1px solid
                rgba($color: ab.$text-primary-color, $alpha: 0.2);
            padding-bottom: 20px;
        }
    }
    &__row {
        @include ab.flexCenter($j: space-between);
        position: relative;

        @include ab.responsive("tm") {
            justify-content: flex-end;
        }
    }

    &__mail {
        @include ab.flexCenter($j: null);
        column-gap: 10px;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.36;
        text-decoration-line: underline;

        &-link {
            color: ab.$text-primary-color;
            &:hover {
                cursor: pointer;
                opacity: 0.7;
            }
            .header & {
                @include ab.responsive("tm") {
                    display: none;
                }
            }
        }

        .bars {
            display: none;
            @include ab.responsive("tm") {
                display: flex;
            }
        }
        #bars-checkbox {
            display: none;
        }
        .opacity {
            position: fixed;
            z-index: 20;
            inset: 0;
            background: rgba(0, 0, 0, 0.3);
            transition: opacity 0.4s;
            opacity: 0;
            visibility: hidden;
        }
        .bars-bg {
            padding: 60px;
            position: fixed;
            inset: 0 25% 0 0;
            z-index: 30;
            background: #fff;
            transform: translateX(-100%);
            transition: transform 0.4s;
            @include ab.responsive("tm") {
                padding: 30px;
            }
            .nav__list {
                flex-flow: column;
                align-items: flex-start;
                row-gap: 20px;
            }
        }

        #bars-checkbox:checked ~ .opacity {
            opacity: 1;
            visibility: visible;
        }
        #bars-checkbox:checked ~ .bars-bg {
            transform: translateX(0%);
        }
    }
    &__logo {
        position: absolute;
        @include ab.alignCenter;
        width: 100px;
        img {
            width: 100%;
        }

        @include ab.responsive("tm") {
            left: 5%;
            display: block;
        }
    }
}
.nav {
    &__list {
        @include ab.flexCenter;
        column-gap: 43px;
    }
    &__item {
        a:hover {
            opacity: 0.7;
        }
    }

    &.nav-lg {
        @include ab.responsive("tm") {
            display: none;
        }
    }
}
