@use "../abstracts" as ab;

.projects {
    margin-top: 140px;
    background: ab.$primary-color;
    padding-top: 86px;
    padding-bottom: 86px;

    &__row {
        @include ab.flexCenter($j: null);
        margin-bottom: 40px;
        @include ab.responsive("tm") {
            text-align: center;
            flex-flow: column;
            row-gap: 40px;
            align-items: center;
        }
    }
    &__title {
        width: 468px;
        color: ab.$text-white-color;
        @include ab.responsive("m") {
            width: 100%;
        }
    }
    &__desc {
        margin-left: 160px;
        width: 370px;
        opacity: 0.6;
        color: ab.$text-white-color;
        @include ab.responsive("tm") {
            margin-left: 0;
        }
    }

    &__item {
        @include ab.flexCenter($j: null);

        background: #fbfaff;
        padding: 24px 24px 24px 34px;
        position: relative;

        &-content,
        &-img {
            position: relative;
            z-index: 1;
        }
        &-img {
            img {
                @include ab.responsive("m") {
                    width: 100%;
                }
            }
        }
        &-desc {
            margin-top: 10px;
        }
        &-link {
            display: inline-block;
            margin-top: 20px;
        }

        &-deco {
            z-index: 0;
            right: 0;
            bottom: 0;
            opacity: 0.7;
        }
        @include ab.responsive("tm") {
            column-gap: 15px;
        }
    }

    &__btn {
        @include ab.flexCenter;
        margin-top: 50px;
    }
}
