@use "../abstracts" as ab;

.text {
    color: ab.$text-secondary-color;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    &-color-2 {
        color: ab.$text-white-color;
    }

    &-16 {
        font-size: 16px;
        line-height: 1.43;
    }
}

.heading {
    color: ab.$text-primary-color;
    font-weight: 500;
    &-1 {
        font-size: 8rem;
        line-height: 0.95;
    }

    &-2 {
        font-size: 5.6rem;
        line-height: 1.17;
    }
    &-3 {
        font-size: 3.2rem;
        line-height: 1.25;
    }
}

.link {
    color: ab.$text-primary-color;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66;
    text-decoration-line: underline;
    &:hover {
        opacity: 0.7;
    }
}
