@mixin flexCenter($a: center, $j: center) {
    display: flex;
    align-items: $a;
    justify-content: $j;
}
@mixin alignCenter($x: 50%, $y: 50%) {
    position: absolute;
    left: $x;
    top: $y;
    transform: translateX(-$x) translateY(-$y);
}
@mixin marginCenter {
    margin-left: auto;
    margin-right: auto;
}
